<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <script src="{{ url_for('static', filename='index.js') }}" defer></script> -->
    <title>{% block title %}Transformador para usos casuales{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Transformador para usos casuales</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('descargar') }}">Transformador de urls a imágenes descargadas</a>
            </li>
            <li>
                <a href="{{ url_for('encriptar') }}">Transformador de texto a texto encriptado</a>
            </li>
        </ul>
    </nav>
    {% for mensajes in get_flashed_messages() %}
    <p class="mensajes">{{ mensajes }}</p>
    {% endfor %}
    {% block content %}
    {% endblock %}
</body>
</html>