{% extends './index.html' %}

{% block content %}
<section>
    <h2>Transformador de texto a texto encriptado</h2>
    <p>
        Este método de encriptado funciona con el método de Fernet, <br> 
        se creará un archivo contraseña.txt en la carpeta que se seleccionó del dispositivo <br>
        en la cual estará el texto encriptado y su clave autogenerada. <br>
        Si va a usar esta información para algo importante ¡no la comparta con nadie! <br>
        Además, si quieres poder desencriptarlo después trata de no borrarlo ni cambiarlo de lugar :v
    </p>
    <form method="post">
        <div>
            <label for="texto">Texto: </label><br>
            <textarea name="texto" id="texto" cols="30" rows="10" required>{{ request.form['nombre'] }}</textarea>
        </div>
        <div>
            <label for="direccion">Dirección de carpeta: </label><br>
            <input type="text" name="direccion" id="direccion" size="50" value="{{ request.form['direccion'] }}" required>
        </div>
        <div>
            <button type="submit">Encriptar</button>
        </div>
    </form>
</section>
{% endblock %}